<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jsnkrm.project1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cbseActivity"
            android:label="@string/title_activity_cbse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".icscActivity" />
        <activity
            android:name=".sslcActivity"
            android:label="@string/title_activity_sslc"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".cbseSettings"
            android:label="@string/cbse"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".modifyTables"
            android:label="@string/modify_title"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".deleteTables"
            android:label="@string/delete_title"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".icscSettings"
            android:label="@string/icsc"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".sslcSettings"
            android:label="@string/sslc"
            android:parentActivityName=".MainActivity"></activity>
    </application>


</manifest>